@import "src/styles/settings";
@import "src/styles/elements";

.contact-us {
  .input-search {
    display: none;
  }
  &__wrapper {
    &__coming-soon-bg{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  @include xl-up() {
  }
}
