.btn-primary {
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #e20074;
  border: none;
  color: $color-white;
  font-family: $TeleNeoRegular;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  max-width: 424px;
  height: 40px;

  &__icon {
    margin-right: 8px;
  }

  &:hover {
    background-color: #a7005a;
  }

  &:focus {
    outline: none;
  }
}

.btn-secondary {
  background-color: $color-white;
  color: #e20074;
}

.btn-border {
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  padding: 0 20px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 40px;
  font-family: $TeleNeoRegular;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  max-width: 424px;
  height: 40px;
  cursor: pointer;

  &__icon {
    margin-right: 8px;
  }

  &:hover {
    color: #a7005a;
    border-color: #a7005a;
    background-color: unset;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
    pointer-events: none;
  }
}

.btn-primary.btn-medium {
  font-size: 14px;
  line-height: 32px;
  padding: 0 16px;
  height: 32px;
}

.btn-primary.btn-small {
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 20px;
}

button:disabled {
  background-color: #ccc;
  color: $color-white;
  border: 1px solid #ccc;
  pointer-events: none;
}
