.MuiTableCell-root {
    font-size: 14px !important;
    line-height: 18px !important;
    color: #1D2939 !important;
    font-family: $TeleNeoRegular !important;
    border-bottom: 1px solid #EAECF0 !important;
    letter-spacing: unset !important;
    text-align: center !important;
}
.MuiTableCell-head{
    font-size: 14px !important;
    line-height: 18px !important;
    color: #1D2939 !important;
    font-family: $TeleNeoMedium !important;
}