@import "src/styles/settings";
@import "src/styles/elements";

$size-287: calc($size-1 * 287);
.predicted-intents {
  height: $size-287;
  overflow-y: scroll;
  padding-right: $size-12;
  box-sizing: border-box;
  &__list {
    &__item {
      font-size: $size-16;
      line-height: $size-20;
      color: #6a6a6a;
      font-family: $TeleNeoRegular;
      padding: $size-12;
      background-color: $color-white;
      margin-top: $size-12;
      border: 1px solid #ffeff7;

      &:first-child {
        border-radius: 10px 10px 0 0;
        margin-top: 0;
      }
      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
  @include xl-up() {
    height: 358px;
    padding-right: 12px;
    &__list {
      &__item {
        font-size: 16px;
        line-height: 20px;
        padding: 12px;
        margin-top: 12px;
      }
    }
  }
}
