@mixin browser-hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}
//scroll bar styling
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #d3d3d3;
  border-radius: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #908b8b;
  border-radius: 25px;
}
