$TeleNeoRegular: TeleNeoRegular, sans-serif;
$TeleNeoMedium: TeleNeoMedium, sans-serif;
$TeleNeoBold: TeleNeoBold, sans-serif;
$TeleNeoExtrabold: TeleNeoExtrabold, sans-serif;
$TeleNeoThin: TeleNeoThin, sans-serif;