$header-height: 64px;
$z-header: 3;
$z-footer: 2;
$z-overlay: 4;

// Viewports
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1440px;

// Spaces
$size-1: 0.078125vw;
$size-2: calc($size-1 * 2);
$size-3: calc($size-1 * 3);
$size-4: calc($size-1 * 4);
$size-5: calc($size-1 * 5);
$size-6: calc($size-1 * 6);
$size-7: calc($size-1 * 7);
$size-8: calc($size-1 * 8);
$size-9: calc($size-1 * 9);
$size-10: calc($size-1 * 10);
$size-11: calc($size-1 * 11);
$size-12: calc($size-1 * 12);
$size-13: calc($size-1 * 13);
$size-14: calc($size-1 * 14);
$size-15: calc($size-1 * 15);
$size-16: calc($size-1 * 16);
$size-17: calc($size-1 * 17);
$size-18: calc($size-1 * 18);
$size-19: calc($size-1 * 19);
$size-20: calc($size-1 * 20);
$size-21: calc($size-1 * 21);
$size-22: calc($size-1 * 22);
$size-24: calc($size-1 * 24);
$size-25: calc($size-1 * 25);
$size-26: calc($size-1 * 26);
$size-27: calc($size-1 * 27);
$size-28: calc($size-1 * 28);
$size-30: calc($size-1 * 30);
$size-31: calc($size-1 * 31);
$size-32: calc($size-1 * 32);
$size-33: calc($size-1 * 33);
$size-34: calc($size-1 * 34);
$size-35: calc($size-1 * 35);
$size-36: calc($size-1 * 36);
$size-38: calc($size-1 * 38);
$size-40: calc($size-1 * 40);
$size-42: calc($size-1 * 42);
$size-44: calc($size-1 * 44);
$size-45: calc($size-1 * 45);
$size-46: calc($size-1 * 46);
$size-48: calc($size-1 * 48);
$size-50: calc($size-1 * 50);
$size-52: calc($size-1 * 52);
$size-56: calc($size-1 * 56);
$size-57: calc($size-1 * 57);
$size-60: calc($size-1 * 60);
$size-61: calc($size-1 * 61);
$size-68: calc($size-1 * 68);


